<iframe id="canvas_frame" class="preview-frame" aria-label="sketch output" role="main" title="sketch preview" sandbox="allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-forms allow-modals allow-downloads" srcdoc="..." frameborder="0"></iframe>
